/**
* Global
*/
body{
	background: #f2f2f2;
	font-family: "Arial","Open Sans", "Helvetica Neue";
	/*color: #313131;*/
	color: #5f5f5f;
}
a:hover,
a:focus{
	text-decoration: none;
}
.required:after{
	content: '*';
	color: #f44;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
textarea{
	max-width: 100%;
}
.transparent-input,
.transparent-input:focus{
	border: 0;
	background: none;
	outline: none;
}
.navbar-main{
	background: #fff;
	border: none;
	border-top: 3px solid #40a2b0;
	border-bottom: 1px solid #dcdcdc;
	margin: 0;
}
.navbar-main .navbar-brand{
	height: auto;
}
.navbar-main .navbar-nav a{
	font-weight: bold;
	font-size: 14px;
	color: #313131;
	padding: 29px 15px;
}
.navbar-main .navbar-nav>li> a:hover,
.navbar-main .navbar-nav>li> a:focus{
	background-color: none;

}
.nav > li > a:hover, .nav > li > a:focus {
	background: none;
	color: #47a8b8;
}
.navbar-search{
	    padding: 10px;
    padding-bottom: 0;
    margin-top: 13px;
    border-bottom: 2px solid #d2d2d2;

}
.login-dropdown.open > a{
	color: #47a8b8;
}
.login-dropdown ul{
	padding: 15px;
	min-width: 250px
}
/**
* Footer
*/ 
.footer{
	background: #1e1e1e;
	padding: 30px 0;
	margin-top: 20px;
}
.footer p,
.footer a{
	color: #444;
}
.footer-links a{
	font-weight: bold;
}
.footer-links a:hover,
.footer-links a:focus{
	color: #5f5f5f;
}

/**
* App Library
*/
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.btn-gha-primary{
	background: #40a2b0;
    color: #fff;
}
.btn-gha-primary:hover,
.btn-gha-primary:focus{
	background: #3b808a;
	color: #fff;
}

.btn-gha-warning{
	background: #f15422;
	color: #fff
}
.btn-gha-warning:hover,
.btn-gha-warning:focus{
	background: #d64d21;
	color: #fff;
}
.gha-checkbox input[type=checkbox]{
	display: none;
}
.gha-checkbox input[type=checkbox]:checked + .checkbox-icon:before{
	content: "\f046";
	color: #40a2b0;
}

.gha-checkbox .checkbox-icon:before{
	content: "\f096";
	margin-left: -20px;
}
.gha-radio input[type=radio]{
	display: none;
}
.gha-radio input[type=radio]:checked + .radio-icon:before {
    content: "\f111";
	color: #40a2b0;
}
.gha-radio .radio-icon:before {
    content: "\f10c";
    margin-left: -20px;

}
.with-btn-icon{
	position: relative;
	padding-left: 2.5em;
}
.with-btn-icon .btn-icon{
	position: absolute;
    top: 50%;
    font-size: 150%;
    margin-left: -1.2em;
    margin-top: -.5em;

}
.help-tooltip{
	border: 1px solid #da3232;
    color: #da3232;
    border-radius: 50%;
    padding: 0px 3px;
    font-size: 10px;
}
.help-tooltip:hover,
.help-tooltip:focus{
	border: 1px solid #ab1111;
	color: #ab1111;
}
.transition-500{
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn-actions{
	margin-left: -5px;
	margin-right: -5px;
}
.btn-actions .btn{
	margin-bottom: 15px;
	margin-right: 5px;
	margin-left: 5px;
}

.navbar-gha-wrapper{
	display: table;
	width: 100%;
	background: #1e1e1e;
}
.navbar-gha-wrapper>ul>li>a{
	color: #f15827;
	display: table-cell;
	vertical-align: middle;
	height: 70px;
}
.navbar-gha-wrapper>ul>li>a:hover{
	color: #f15827;
	background: #363636;
}

.navbar-gha-wrapper li{
	float: left;
	list-style-type: none;
}
/*****
 * Event card
 ******/

.event-card{
	background: #fff;
	box-shadow: 1px 1px 7px #a5a2a2;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}
.event-card .event-body{
	padding: 10px;
	padding-bottom: 40px;
}
.event-card .event-title{
	font-size: 17px;
	margin-top: 0;
	color: #40a2b0;
}
.event-card .event-info p{
	font-size: 12px;
	margin: 0;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #313131
}

.event-action .save-event{
	position: absolute;
    right: 15px;
    font-size: 37px;
    color: #636363;
    top: -9px;
}
.event-action .save-event:hover,
.event-action .save-event:focus{
	color: #318b98;
}
.event-action .save-event.saved{
	color: #40a2b0;
}

/**
* Bootstrap override
*/

.form-control{
	height: 38px;
}
.form-control:focus{
	border-color: #40a2b0;
	-webkit-box-shadow: none;
	box-shadow: none;

}
.radio label,
.radio-inline label{
	cursor: pointer;
}