.party-banner{
	padding: 170px 0;
	background-image: url(../../images/banner/event-party.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.party-banner .box{
	background: rgba(0,0,0,.5);
	padding: 10px;
	color: #fff;
}
.party-banner .box-title{
	margin-top: 0;
}
.nearby-events{
	margin: 20px 0;
}
.nearby-events *{
	font-weight: bold;
	font-size: 21px;
}
.nearby-events .nearby-title{
	color: #40a2b0;
	margin: 6px 0;
	display: inline-block;

}
.nearby-events .form-control{
	height: auto;
}
.event-card{
	background: #fff;
	box-shadow: 1px 1px 7px #a5a2a2;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}
.event-card .event-body{
	padding: 10px;
	padding-bottom: 40px;
}
.event-card .event-title{
	font-size: 17px;
	margin-top: 0;
	color: #40a2b0;
}
.event-card .event-info p{
	font-size: 12px;
	margin: 0;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #313131
}

.event-action .save-event{
	position: absolute;
    right: 15px;
    font-size: 37px;
    color: #636363;
    top: -9px;
}
.event-action .save-event:hover,
.event-action .save-event:focus{
	color: #318b98;
}
.event-action .save-event.saved{
	color: #40a2b0;
}