.party-banner{
	padding: 170px 0;
	background-image: url(../../images/banner/event-party.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.party-banner .box{
	background: rgba(0,0,0,.5);
	padding: 10px;
	color: #fff;
}
.party-banner .box-title{
	margin-top: 0;
}
.nearby-events{
	margin: 20px 0;
}
.nearby-events *{
	font-weight: bold;
	font-size: 21px;
}
.nearby-events .nearby-title{
	color: #40a2b0;
	margin: 6px 0;
	display: inline-block;

}
.nearby-events .form-control{
	height: auto;
}